RAGDOCS/
# 只忽略这两个目录，其他代码都需要同步
docs/
spx-knowledge-backend/models/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/


# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Builds
build/
dist/
*.log

# Node
node_modules/

# Cache
.cache/
*.sqlite3
